
@{
    ViewBag.Title = "CitysetupList";
}

@section pagelevelcss{
    <link href="~/assets/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section actionsMain{
    <a href="Citysetup" class="btn btn-success m-btn m-btn--icon m-btn--wide">
    <span>
        <i class="la la-plus-circle"></i>
        <span>
            City 
        </span>
    </span>
</a>
}

@section scripts{
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $('.datatableCustom').DataTable();
    </script>
}

<div class="row">
    <div class="col-md-12">
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            List
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <table class="table m-table m-table--head-separator-primary verticalAlignMiddle datatableCustom">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Longitude</th>
                            <th>Latitude</th>
                            <th>Short Code</th>
                            <th>Description</th>


                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ashar</td>
                            <td>120943.573</td>
                            <td>671510.610</td>
                            <td>KHI</td>
                            <td>Lorem Ipsum is simply dummy text of the printing ....</td>
                        </tr>
                        <tr>
                            <td>Ashar</td>
                            <td>120943.573</td>
                            <td>671510.610</td>
                            <td>KHI</td>
                            <td>Lorem Ipsum is simply dummy text of the printing ....</td>
                        </tr>
                        <tr>
                            <td>Ashar</td>
                            <td>120943.573</td>
                            <td>671510.610</td>
                            <td>KHI</td>
                            <td>Lorem Ipsum is simply dummy text of the printing ....</td>
                        </tr>
                        <tr>
                            <td>Ashar</td>
                            <td>120943.573</td>
                            <td>671510.610</td>
                            <td>KHI</td>
                            <td>Lorem Ipsum is simply dummy text of the printing ....</td>
                        </tr>
                        <tr>
                            <td>Ashar</td>
                            <td>120943.573</td>
                            <td>671510.610</td>
                            <td>KHI</td>
                            <td>Lorem Ipsum is simply dummy text of the printing ....</td>
                        </tr>
                        <tr>
                            <td>Ashar</td>
                            <td>120943.573</td>
                            <td>671510.610</td>
                            <td>KHI</td>
                            <td>Lorem Ipsum is simply dummy text of the printing ....</td>
                        </tr>
                        <tr>
                            <td>Ashar</td>
                            <td>120943.573</td>
                            <td>671510.610</td>
                            <td>KHI</td>
                            <td>Lorem Ipsum is simply dummy text of the printing ....</td>
                        </tr>
                        <tr>
                            <td>Ashar</td>
                            <td>120943.573</td>
                            <td>671510.610</td>
                            <td>KHI</td>
                            <td>Lorem Ipsum is simply dummy text of the printing ....</td>
                        </tr>
                       






                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



